/*!
 * # Semantic UI 2.4.2 - Flag
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
             Flag
*******************************/

i.flag:not(.icon) {
    display: inline-block;
    width: 16px;
    height: 11px;
    line-height: 11px;
    vertical-align: baseline;
    margin: 0 0.5em 0 0;
    text-decoration: inherit;
    speak: none;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Sprite */
i.flag:not(.icon):before {
    display: inline-block;
    content: '';
    background: url("https://mdbootstrap.com/img/svg/flags.png") no-repeat -108px -1976px;
    width: 16px;
    height: 11px;
}

/* Flag Sprite Based On http://www.famfamfam.com/lab/icons/flags/ */


/*******************************
         Theme Overrides
*******************************/

/*******************************
         Site Overrides
*******************************/

