<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2021 Copyright: Alcohol Emporium
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->