{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">
            <!--Section: Products v.3-->
            <section class="text-center mb-4">

                <div class="row wow fadeIn">

                    {% for item in object_list %}
                        <div class="col-lg-3 col-md-6 mb-4">

                            <div class="card">

                                <div class="view overlay">
                                    <img src="{{ item.image.url }}" style="width:250px;height:400px;"
                                         class="card-img-top" alt="">

                                    <a href="{{ item.get_absolute_url }}">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>

                                <div class="card-body text-center">
                                    <a href="" class="grey-text">
                                        <h5>{{ item.item_type }}</h5>
                                    </a>
                                    <h5>
                                        <strong>
                                            <a href="{{ item.get_absolute_url }}"
                                               class="dark-grey-text">{{ item.item_name }}</a>


                                        </strong>
                                    </h5>

                                    <h4 class="font-weight-bold blue-text">
                                        <span class="label label-info">{{ item.country_origin }}</span><br>
                                        <span class="label label-info">{{ item.item_size }}cl</span>


                                    </h4>
                                    <h4 class="font-weight-bold pink-text">
                                        <strong>
                                            {% if item.discount_price %}
                                                <span class="label label-info">Discounted!<br> Was £{{ item.price }}<br> NOW £{{ item.discount_price }}</span>
                                            {% else %}
                                                £{{ item.price }}
                                            {% endif %}
                                        </strong>
                                    </h4>

                                </div>

                            </div>

                        </div>
                    {% endfor %}
                </div>

            </section>
            <!--Section: Products v.3-->

            <!--Pagination-->

            {% if is_paginated %}
                <nav class="d-flex justify-content-center wow fadeIn">
                    <ul class="pagination pg-blue">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        </div>
    </main>

{% endblock content %}
