{% extends "base.html" %}
{% block content %}
    <main>
        <div class="container wow fadeIn">
            <h2 class="my-5 h2 text-center">Checkout form</h2>
            <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="card">
                        <form class="card-body" method="POST">
                            {% csrf_token %}
                            <h3>Payment option</h3>

                            <div class="md-form mb-5">
                                <label for='card_num'>Card Number</label>
                                <input type='text' placeholder='16-digit card number, no spaces' id='card_num'
                                                                     name='card_num' class='form-control'/>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Pay</button>
                    </div>
                </div>
            </div>
    </main>
{% endblock content %}