{% extends "base.html" %}
{% block content %}
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="text-center">
                        <img src="{{ item.image.url }}" class="img-fluid" alt="">
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <!--Content-->
                    <div class="p-4">
                        <p class="lead font-weight-bold">{{ item.item_name }}</p>
                        Country of Origin: {{ item.country_origin }}<br>
                        Alcohol Type: {{ item.item_type }}<br>
                        {% if item.discount_price %}
                            <div class="mb-3">
                                <a href="">
                                    <span class="badge purple mr-1">Discounted</span>
                                </a>

                            </div>

                            <p class="lead">
              <span class="mr-1">
                <del>£{{ item.price }}</del>
              </span>
                                <span>£{{ item.discount_price }}</span>
                            </p>
                        {% else %}
                            <p class="lead">
                                <span>£{{ item.price }}</span>
                            </p>
                        {% endif %}
                        <p class="lead font-weight-bold">Description</p>

                        <p>{{ item.item_description }}</p>

                        <form class="d-flex justify-content-left">
                            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                                Add to cart
                                <i class="fas fa-shopping-cart ml-1"></i>
                            </a>
                            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                                Remove from cart
                            </a>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </main>
    <!--Main layout-->
{% endblock content %}