/*!
 * # Semantic UI 2.4.2 - Flag
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
             Flag
*******************************/

i.flag:not(.icon) {
  display: inline-block;
  width: 16px;
  height: 11px;
  margin: 0 .5em 0 0;
  // font-smooth: antialiased;
  line-height: 11px;
  text-decoration: inherit;
  vertical-align: baseline;
  // speak: none;
  backface-visibility: hidden;
}

/* Sprite */
i.flag:not(.icon):before {
  display: inline-block;
  width: 16px;
  height: 11px;
  content: "";
  background: url("https://mdbootstrap.com/img/svg/flags.png") no-repeat -108px -1976px;
}

