.animation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomedIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomedOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

